/1_base/package-lock.json
/1_base/node_modules
/1_base/data
/avt_hive_ctr_v1/package-lock.json
/avt_hive_ctr_v1/node_modules
/avt_hive_ctr_v1/data
/avt_hive_temp_array/package-lock.json
/avt_hive_temp_array/node_modules
/avt_hive_temp_array/data
/gsm_smartfarm_v1/package-lock.json
/gsm_smartfarm_v1/node_modules
/gsm_smartfarm_v1/data
/daesung_v1/package-lock.json
/daesung_v1/node_modules
/daesung_v1/data