.flex-ul {
display: flex;
width: 100%;
padding: 0;
list-style: none;
cursor: default;
}
.flex-ul li {
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    color: #ffffff;
    text-align: center;
}
  .flex-ul li.style1 {background-color: #efa8b0;}
  .flex-ul li.style2 {background-color: #f7ca69;}
  .flex-ul li.style3 {background-color: #77eb77;}
  .flex-ul li.style4 {background-color: #8cc9f0;}
  .flex-ul li.style5 {background-color: #9bb2e1;}
  .flex-ul li.style6 {background-color: #a89cc8;}
  .flex-ul li.style7 {background-color: #c79cc8;}
  .flex-ul li:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
  }
  .flex-ul li:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
  }

@media screen and (max-width: 800px) {
    .flex-ul {
        display: block;
        width: 20em;
        max-width: 100%;
        margin: 0 auto 1em auto;
    }
        .flex-ul li:first-child {
            border-bottom-left-radius: 0;
            border-top-right-radius: 8px;
        }
        .flex-ul li:last-child {
            border-top-right-radius: 0;
            border-bottom-left-radius: 8px;
        }
        .flex-ul li .icon:before {
            font-size: 3.75rem;
        }
        .flex-ul li strong, .flex-ul li b {
            font-size: 2.5em;
        }

}