input[type="date"] {
    margin-bottom: 10px;
    padding: 10px 30px;
    font-size: 18px;
    border: 2px solid #fff01f;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    transition: all 0.3s ease;
}

input[type="date"]:focus {
    border-color: #d1c523;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 5px;
    background-color: #e9dc29;
    border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: #dace2c;
}