section {
    min-width:385px;
    max-width: 1550px;
}
#webgl-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 385px;
    min-height: 700px;
}
.other-devices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    max-width: 100%;
}
.equipment-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 100%;
}
.data-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 100%;
}
@media (min-width: 760px) {
    .equipment-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    .equipment-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1160px) {
    .equipment-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1350px) {
    .equipment-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1550px) {
    .equipment-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 1750px) {
    .equipment-grid {
        grid-template-columns: repeat(8, 1fr);
    }
}

.equipment-card {
    background: white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    border: 3px solid transparent;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.equipment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-color: #ffa000;
}

.equipment-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.equipment-name.id {
    color: #8b4513;
}
.equipment-name.ss {
    color: #1d8b13;
}

.honeycomb {
    /* display: inline-block; */
    padding: 4px 6px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.honeycomb.id {
    /* display: inline-block; */
    background: #e8f5e8;
    color: #2e7d32;
}
.honeycomb.tp {
    /* display: inline-block; */
    background: #f5e8e8;
    color: #7d2e2e;
}
.honeycomb.hm {
    /* display: inline-block; */
    background: #e8e8f5;
    color: #2e2f7d;
}
.honeycomb.sc {
    /* display: inline-block; */
    background: #e8e8f5;
    color: #6d2e7d;
}

.add-to-honeycomb {
    background: linear-gradient(135deg, #ffa000, #ff8f00);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.add-to-honeycomb:hover {
    background: linear-gradient(135deg, #ff8f00, #ff6f00);
    transform: scale(1.05);
}